--- 

--- 

@import "{{ site.theme }}";

html {height: 100%;}

.page-header {
    background-image: url(https://imgix.datadoghq.com/img/dd_press_banner.png?ch=Width&fit=max&auto=compress,format);
    display: table-caption;
}

body {
    display: table;
    width: 100%;
}


aside {
    display: table-cell;
    width: 25%;
    height: 100%;
    background: #312450;
}

aside ul {
    list-style: none;
    
    li {
      position: relative;
      margin: 3.2em 0;
      
      a {
        line-height: 5em;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 0.4em;
        color: white;
        display: block;
        transition: all ease-out 300ms;
      }
      
      
      &:hover a {
        color: rgba(#FFF, 0.75);
      }
      
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 0.2em;
        background: black;
        left: 0;
        bottom: 0;
        background-image: linear-gradient(to right, #5e42a6, #b74e91)
      }
    }
  }

.main-content {
    display: table-cell;
    width: 75%;
    margin-left: 25%;
    height: 100%;
}

footer {
    text-align: center;
}

/**

Integration Page

**/

.integration-title {
  margin-bottom: 10%;
  h1 {
    text-align: center;
    color: #561f91;
    text-transform: uppercase;
    letter-spacing: 0.4em;
  }

  .line {
    content: '';
    position: relative;
    width: 100%;
    height: 0.2em;
    background: black;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to right, #5e42a6, #b74e91)
  }
}

figure {
  text-align: center;
}

.dash {
  width: 33%;
  display: inline-table;
  position: relative;
  
  img {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  &:hover img {
    opacity: 0.3;
  }
  
  &:hover .middle {
    opacity: 1;
  }

}