--- 

--- 

@import "{{ site.theme }}";
@import "aside";
@import "integration";
@import "tabs";
@import "search-box";
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");

html {
  height: 100%;
}

.page-header {
  background-image: url(https://imgix.datadoghq.com/img/dd_press_banner.png?ch=Width&fit=max&auto=compress,format);
  display: table-caption;
}

body {
  display: table;
  width: 100%;
}

.main-content {
  display: table-cell;
  width: 75%;
  margin-left: 25%;
  height: 100%;
}

footer {
  text-align: center;
}
